.vs
*.mat
*.meta
Library
Logs
Packages
ProjectSettings
Temp
obj
Assets/Effects
Assets/Materials
Assets/Models
Assets/Prefabs
Assets/Scenes
Assets/Shaders
Assets/Sounds
Assets/Terrain
Assets/Textures
Assets/UI
Assets/_TerrainAutoUpgrade
.DS_Store
Assembly-CSharp.csproj
